MainWindow {
    background: #1D1D1E;
    border-radius: 0px;
    border: 1px solid #292A2C;
}

MainWindow *
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
}

CentralWidget > QStatusBar {
    border: 1px solid #292A2C;
    min-height: 64px;
}

QLabel {
    font-size: 14px;
    line-height: 20px;
}

QMessageBox QLabel {
    color: #000;
}

DocumentView
{
    background: #141415;
    border: none;
    border-left: 1px solid #292A2C;
}
