#btnColorpicker {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;

    background: #2A2B2C;
    border-radius: 20px;

    icon: url(":/icn/colorpicker_rest.svg");
    icon-size: 40px 40px;
}

#btnColorpicker:hover {
    background: #3C3D3F;
}

#btnColorpicker:pressed {
    background: #585A5E;
}

#btnColorpicker:disabled {
    background: #2A2B2C;
}

#btnColorpicker:focus {
   border: none;
   outline: none;
}
