#penToolExtras > #btnColorDialog {

    min-width: 72px;
    max-width: 72px;
    min-height: 38px;
    max-height: 38px;

    icon-size: 40px 40px;

    border-radius: 20px;

    color: transparent;

    padding: 1px 12px 1px -12px;

    background: no-repeat center #2A2B2C;
}

#penToolExtras > #btnColorDialog:disabled {
    border: 1px solid #2a440f;
    background: no-repeat center #111112;
}

#penToolExtras > #btnColorDialog:hover {
    background: no-repeat center #3C3D3F;
    border: 0px solid none;
}

#penToolExtras > #btnColorDialog:pressed {
    background-color: #585A5E;
}

#penToolExtras > #btnColorDialog::menu-button {
    background-color: transparent;
}

#penToolExtras > #btnColorDialog::menu-arrow {
    background: none;
    image: url(":/icn/checkmark_rest.svg");
    padding-right: 20px;
}
