QPushButton#btnCopy {
    width: 116px;
    height: 36px;
    border-radius: 4px;
    border: 1.5px solid #68ab25;
    color: #68ab25;
    margin-right: 24px;
    margin-top: 0.5px;

    icon: url(":/icn/Copy_rest.svg");

    font-weight: 500;
    line-height: 20px;
}

QPushButton#btnCopy:hover {
    border-color: #84cc3c;
    color: #84cc3c;
    icon: url(":/icn/Copy_hover.svg");
}

QPushButton#btnCopy:pressed {
    border-color: #51861c;
    color: #51861c;
    icon: url(":/icn/Copy_pressed.svg");
}

QPushButton#btnCopy:disabled {
    border-color: #2a440f;
    color: #2a440f;
    icon: url(":/icn/Copy_disabled.svg");
}
