ToolsDrawer .QToolButton {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;

    border-radius: 4px;

    color: transparent;

    background: no-repeat center #2A2B2C;
    margin: 0px;
    padding: 0px;
}


ToolsDrawer .QToolButton:disabled {
    border: 1px solid #2a440f;
    background: no-repeat center #111112;
}

ToolsDrawer .QToolButton:checked {
    background: no-repeat center #2d3b22;
}

ToolsDrawer .QToolButton:hover {
    border: 1px solid #84cc3c;
    background: no-repeat center #3C3D3F;
}

#drawToolBtnPen
{
    background-image: url(":/icn/Draw_rest.svg");
}
#drawToolBtnPen:checked
{
    background-image: url(":/icn/Draw_checked.svg");
}

#drawToolBtnArrow
{
    background-image: url(":/icn/icon_Hand_rest.svg");
}
#drawToolBtnArrow:checked
{
    background-image: url(":/icn/icon_Hand_checked.svg");
}

#drawToolBtnRect
{
    background-image: url(":/icn/Rectangle_rest.svg");
}
#drawToolBtnRect:checked
{
    background-image: url(":/icn/Rectangle_checked.svg");
}

#drawToolBtnEllipse
{
    background-image: url(":/icn/Ellipse_rest.svg");
}
#drawToolBtnEllipse:checked
{
    background-image: url(":/icn/Ellipse_checked.svg");
}

#drawToolBtnTriangle
{
    background-image: url(":/icn/Polygon_rest.svg");
}
#drawToolBtnTriangle:checked
{
    background-image: url(":/icn/Polygon_checked.svg");
}

#drawToolBtnStar
{
    background-image: url(":/icn/favorite_rest.svg");
}
#drawToolBtnStar:checked
{
    background-image: url(":/icn/favorite_checked.svg");
}

