#ribbon > #btnFileMenu
{
    color: white;
    background: none;
    font-size: 16px;
    line-height: 20px;

    margin-left: 16px;
    margin-right: 22px;
    padding-top: -2px;
    border: 1px solid transparent;
}

#ribbon > #btnFileMenu[popupMode="1"] {
    padding-right: 10px;
}

#ribbon > #btnFileMenu::menu-button {
    border: none;
}

#ribbon > #btnFileMenu::menu-arrow {
    image: url(:/icn/checkmark_rest.svg);
    margin-top:0px;
}

#ribbon > #btnFileMenu::menu-arrow:open {
    top: 1px; left: 1px;
}

QMenu#menuFile {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;

    border-radius: 6px;

    min-width: 260px;
    max-width: 260px;
    min-height: 240px;
    max-height: 240px;

    background: url("://icn/filebuttonmenu.svg") 100% 100% no-repeat;
    background-color: transparent;

/*<<<<<<< HEAD
    margin-left: 10px;
    padding-top: 11px;
=======*/
    margin-top: -12px;
    margin-left: 10px;
    padding-top: 0px;
/*>>>>>>> 0ba6aa982e77487724b1f07e03520c657a015ac3*/
    padding-left: 28px;

    line-height: 24px;
}

QMenu#menuFile::item {
    background-color: transparent;
    border: none;
    color: black;

    font-size: 14px;
    line-height: 24px;

    margin: 12px 90px 10px 0px;
}

QMenu#menuFile::item:selected {
    border-bottom: 1px solid lightGrey;
}

QMenu#menuFile::separator {
    height: 1px;
    background: #F3F3F3;
    margin-top:5px;
    margin-bottom: 4px;
    margin-right: 90px;
}
