
.QSlider::groove:horizontal {
    height: 6px;
    background: #585A5E;
    border-radius: 3px;
}

.QSlider::handle:horizontal {
    image: url(":/icn/slider_handle.svg");
    margin: -16px -16px -16px -16px;
    padding: 5px 10px 0px 10px;
}
