QToolBar
{
    spacing: 4px;
}

#ribbon
{
    border: 1px solid #292A2C;
    border-top: none;
}

#ribbon QToolButton
{
    margin: 11px 0px 11px 0px;

    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;

    border-radius: 4px;

    color: transparent;

    background: no-repeat center #2A2B2C;
}


#ribbon QToolButton:disabled
{
    background: no-repeat center rgba(42, 43, 44, 0.4);
}

#ribbon QToolButton:hover
{
    background: no-repeat center #3C3D3F;
}

#ribbon QToolButton:pressed
{
    background: no-repeat center #585A5E;
}

#ribbon > #actUndo_btn
{
    background-image: url(":/icn/undo_rest.svg");
}

#ribbon > #actRedo_btn
{
    background-image: url(":/icn/redo_rest.svg");
}

#ribbon > #actReset_btn
{
    background-image: url(":/icn/reset_rest.svg");
}
