#titleBar {
    background: #1D1D1E;
    border: 1px solid #292A2C;
}

#lblIcon {
    background: #77C12D;
    border-radius: 3px;
    padding: 2px 3px;
    image: url(':/titlebar/icn/titlebar/appicon.svg');
    color: transparent;
}

#lblTitle {
    line-height: 20px;
    color: #FFFFFF;
/*    padding-bottom: 1px;*/
}

#titleBar > QToolButton {
    border: none;
    color: none;
}

#btnSettings {
    image: url(':/titlebar/icn/titlebar/settings.svg');
}

#btnHelp {
    image: url(':/titlebar/icn/titlebar/help.svg');
}

#btnMin {
    image: url(':/titlebar/icn/titlebar/min.svg');
}

#btnMinMax {
    image: url(':/titlebar/icn/titlebar/max.svg');
}

#btnClose {
    image: url(':/titlebar/icn/titlebar/close.svg');
}
