ToolsDrawer
{
    background: #1D1D1E;
    border-right: 1px solid #292A2C;
    border-left: 1px solid #292A2C;
}

QLabel#drawerTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}


QLabel#opacityDisplay {
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #3c3d3f;
    border-radius: 4px;
    padding-right: 2px;
}

ToolsDrawer > QLabel {
    line-height: 20px;
}
ToolsDrawer > QStackedWidget > QFrame
{
    background: #1D1D1E;
    border: 1px solid #292A2C;
}

